In [38]:
#AIzaSyARnSQjF6ebnDHNml4h56E1_wbdber5zQE
import gmaps
import gmaps.datasets
gmaps.configure(api_key="AIzaSyARnSQjF6ebnDHNml4h56E1_wbdber5zQE") # Your Google API key

In [6]:
import pandas as pd

In [18]:
df = pd.read_csv('./2017-fordgobike-tripdata.csv')

In [12]:
df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type
0,80110,2017-12-31 16:57:39.6540,2018-01-01 15:12:50.2450,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer
1,78800,2017-12-31 15:56:34.8420,2018-01-01 13:49:55.6170,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer
2,45768,2017-12-31 22:45:48.4110,2018-01-01 11:28:36.8830,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer
3,62172,2017-12-31 17:31:10.6360,2018-01-01 10:47:23.5310,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer
4,43603,2017-12-31 14:23:14.0010,2018-01-01 02:29:57.5710,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 13 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null object
end_time                   519700 non-null object
start_station_id           519700 non-null int64
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null int64
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null int64
user_type                  519700 non-null object
dtypes: float64(4), int64(4), object(5)
memory usage: 51.5+ MB

In [ ]:
locations = gmaps.datasets.load_dataset("taxi_rides")

fig = gmaps.figure(
fig.add_layer(gmaps.heatmap_layer(df[['start_station_latitude','start_station_longitude']].head(1000))))
fig

In [29]:
df[['start_station_latitude','start_station_longitude']].head(2)

   start_station_latitude  start_station_longitude
0               37.776435              -122.426244
1               37.784872              -122.400876

In [30]:
df[['end_station_latitude','end_station_longitude']].head(2)

   end_station_latitude  end_station_longitude
0             37.778768            -122.415929
1             37.766210            -122.426614

In [40]:
start_point =(37.776435,-122.426244)
end_point = (37.778768,-122.415929)
startToEnd = gmaps.directions_layer(start_point, end_point,travel_mode='BICYCLING')
#starbucks_layer = gmaps.heatmap_layer(df[['start_station_latitude','start_station_longitude']].head(100))

#starbucks_layer_2 = gmaps.symbol_layer(
#    df[['end_station_latitude','end_station_longitude']].head(100), fill_color="red", stroke_color="red", scale=2
#)
fig = gmaps.figure()
#fig.add_layer(starbucks_layer)
fig.add_layer(startToEnd)
#fig.add_layer(starbucks_layer_2)
fig

Figure(layout=FigureLayout(height='420px'))